<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <add name="con" connectionString="Data Source=DESKTOP-KK898E7;Initial Catalog=QuanLyDiaOc;Integrated Security=SSPI;"
      providerName="System.Data.sqlclient" />
    <add name="QuanLyDiaOc.Properties.Settings.QuanLyDiaOcConnectionString"
      connectionString="Data Source=DESKTOP-KK898E7;Initial Catalog=QuanLyDiaOc;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>